# Dependencies
/node_modules
/vendor

# Environment
.env
.env.backup
.env.production

# IDE
/.fleet
/.idea
/.vscode
*.sublime-project
*.sublime-workspace

# Testing
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json

# Build
/public/hot
/public/storage
/public/build
npm-debug.log
yarn-error.log

# Laravel
/bootstrap/cache/*
!/bootstrap/cache/.gitkeep

/storage/*.key
/storage/app/*
!/storage/app/.gitkeep
!/storage/app/public
/storage/app/public/*
!/storage/app/public/.gitkeep
/storage/framework/cache/*
!/storage/framework/cache/.gitkeep
!/storage/framework/cache/data
/storage/framework/cache/data/*
!/storage/framework/cache/data/.gitkeep
/storage/framework/sessions/*
!/storage/framework/sessions/.gitkeep
/storage/framework/testing/*
!/storage/framework/testing/.gitkeep
/storage/framework/views/*
!/storage/framework/views/.gitkeep
/storage/logs/*
!/storage/logs/.gitkeep

# OS
.DS_Store
Thumbs.db
